<%= form_for(@task, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :note, placeholder: "Create new task..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
