<% provide(:title, "Task History") %>
<h1>Tasks <%= params[:month]+'/'+params[:day]+'/'+params[:year] %></h1>

<% if @tasks_from_date.blank? %>
	<p> No tasks on this date. </p>
<% else %>
	<table class="numbered compact">
	<% @tasks_from_date.each do |task| %>
		<tr>
			<td><%= task.note %> 
			<td>
				<% if task.completed_at.present? %>
					<div class="green-text text-lighten-3"><b>&#10003</b></div>
				<% else %>
					<div class="red-text text-accent-3">&#10007</div>
				<% end %>
			</td>
		</tr>
	<% end %>
	</table>
<% end %>
