<% provide(:title, "User Profile") %>
<h1>Profile</h1> 

<div class="section">
	<h5>Alias</h5>
	<p><%= @user.alias %></p>
</div>
<div class="divider"></div>

<div class="section">
	<h5>About Me</h5>
	<p><%= @user.blurb %></p>
</div>

<div class="divider"></div>
<div class="section"></div>

<% if current_user == @user %>
	<%= link_to "Update My Profile", edit_user_path, class:"btn" %>
<% end %>