<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Hi, I built this site to experiment with Rails. If the site goes down or data mysteriously disappears, you know why...

  For questions or comments, email me at annotating@gmail.com.
</p>