<% provide(:title, "Calendar") %>

<h1>Calendar</h1>
<p>
	<%= tasks_completed(current_user)[:days_count] %> Days Completed
</p>

<section class="task_list">
	<% date_statuses = tasks_completed(current_user)[:date_statuses] %> 
	<% date_statuses.each do |date, status| %>
		<% datef = date.to_s.dup
		   datef.gsub! '-', '/'%></td>
		<tr>
			<td><%= datef %></td>
			<% if (status) %>
				<td>G</td>
			<% else %>
				<td>R</td>
			<% end %>
			<td><a><%= link_to "View", 'tasks/'+datef %></a></td>
		</tr>
	<% end %>
</section>

