<% provide(:title, "Calendar") %>

<h1>Calendar</h1>
<% user_tasks = tasks_completed(current_user) %>
<p>
	<%= user_tasks[:days_count] %> Days Completed
</p>

<section class="task_list">
	<table class="compact">
		<% date_statuses = user_tasks[:date_statuses] %>
		<% date_statuses = date_statuses.sort.reverse %>
		<% date_statuses.each do |date, status| %>
		<% datef = date.to_s.dup %>
		<% datef.gsub! '-', '/'%>
			<tr>
				<td>
					<% if (status) %>
						<div class="green-dot"></div>
					<% else %>
						<div class="red-dot"></div>
					<% end %>
				</td>
				<td><%= date.strftime("%B %e, %Y") %></td>
				
				<td><a><%= link_to "View", 'tasks/'+datef %></a></td>
			</tr>	
		<% end %>
	</table>
</section>

