<% provide(:title, "Home") %>
<% if user_signed_in? %>
	<h1>Today's Tasks</h1>
	<p><%= @task_items.count %> Tasks Pending Today</p>

	<div class="taskform section amber lighten-4">
		<%= render 'tasks/form' %>
	</div>

	<br>
	
	<div class="section amber lighten-4">
		<% if @task_items.any? %>
			<table class="hoverable">
				<tbody>
					<%= render @task_items %>
				</tbody>
			</table>
		<% end %>
	</div>
<% end %>
