<% provide(:title, "Home") %>
<% if user_signed_in? %>
	<p><b>Welcome back, <%= current_user.email %>!</b></p>
	<p>
		<%= @task_items.count %> Tasks Today
	</p>
	<section class="task_form">
		<%= render 'tasks/form' %>
	</section>
	<section class="task_list">
		<% if @task_items.any? %>
			<ol class="task">
			<%= render @task_items %>
			</ol>
		<% end %>
	</section>
<% end %>
