<% provide(:title, "Users") %>
<h1>Users</h1>
	<p>Days Completed All Tasks / Days Attempted</p>
	<% if @users.any? %>
	<table class="striped">
		<tbody>
			<%= render @users %>
		</tbody>
	</table>
<% end %>
