/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  	padding: 0 15px;
}

p {
	word-wrap: break-word;
}

.page {
	height: 100vh;
}

td {
	padding: 10px;
	word-wrap: break-word;
}

.taskform {
	padding-left: 10px;
	padding-right: 10px;
}

.brand-logo {
	left: 10px;
}

.textlabel {
	color: black;
}

.h5, .textlabel {
	font-size: 1.6em;
}

#task-table {
    counter-reset: rowNum;
}

#task-table tr {
    counter-increment: rowNum;
}

#task-table tr td:first-child::before {
    content: counter(rowNum);
    min-width: 1em;
    margin-right: 5px;
}


