/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  	padding: 0 15px;
}

p {
	word-wrap: break-word;
}

.page {
	height: 100vh;
}

td {
	padding: 10px;
	word-wrap: break-word;
}

.taskform {
	padding-left: 10px;
	padding-right: 10px;
}

.brand-logo {
	left: 10px;
}

.textlabel {
	color: black;
}

.h5, .textlabel {
	font-size: 1.6em;
}

.compact td {
	padding:0; margin:0;
}

.numbered {
    counter-reset: rowNum;
}

.numbered tr {
    counter-increment: rowNum;
}

.numbered tr td:first-child::before {
    content: counter(rowNum);
    min-width: 1em;
    margin-right: 5px;
}

.green-dot {
    height: 10px;
    width: 10px;
    background-color: #4caf50;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.red-dot {
    height: 10px;
    width: 10px;
    background-color: #ff5252;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
